<ion-view view-title={{pageTitle}}>
    <ion-content>
        <div class="container">
            <div id="create-btn" style="float: right; padding-top: 5px">
                <a href=""><i class="icon ion-plus-circled"></i></a>
            </div>
            <br>
            <div class="card">
                <div class="item item-divider">
                    <div class="shop-title" style="float: left">
                        Shop Name 1
                    </div>
                    <div class="shop-action" style="float: right">
                        <a href=""><i class="icon ion-edit"></i></a> &nbsp
                        <a href=""><i class="icon ion-trash-a"></i></a>
                    </div>
                </div>
                <div class="item item-text-wrap">
                  This is a basic Card with some text.
                </div>
                <div class="item item-divider">
                  <div class="shop-status-approved">
                      Approved
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    <div class="shop-title" style="float: left">
                        Shop Name 2
                    </div>
                    <div class="shop-action" style="float: right">
                        <a href=""><i class="icon ion-edit"></i></a> &nbsp
                        <a href=""><i class="icon ion-trash-a"></i></a>
                    </div>
                </div>
                <div class="item item-text-wrap">
                  This is a basic Card with some text.
                </div>
                <div class="item item-divider">
                  <div class="shop-status-pending">
                      Pending
                  </div>
                </div>
            </div>
            <div class="card">
                <div class="item item-divider">
                    <div class="shop-title" style="float: left">
                        Shop Name 3
                    </div>
                    <div class="shop-action" style="float: right">
                        <a href=""><i class="icon ion-edit"></i></a> &nbsp
                        <a href=""><i class="icon ion-trash-a"></i></a>
                    </div>
                </div>
                <div class="item item-text-wrap">
                  This is a basic Card with some text.
                </div>
                <div class="item item-divider">
                  <div class="shop-status-approved">
                      Approved
                  </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
