<ion-view view-title="Near By You">
    <ion-content>
        <div class="container">
            <div class="row">
              <div class="col col-50">
                  <label class="item item-input item-select">
                    <div class="input-label">
                        Category
                    </div>
                    <select>
                      <option selected>All</option>
                      <option>Mechanic</option>
                      <option>Puncture</option>
                      <option>Petrol Bunk</option>
                    </select>
                  </label>
              </div>
              <div class="col col-50">
                  <label class="item item-input item-select">
                    <div class="input-label">
                        Radius(kms)
                    </div>
                    <select>
                      <option selected>10</option>
                      <option>20</option>
                      <option>30</option>
                    </select>
                  </label>
              </div>
            </div>
        </div>
        <div class="list">
            <div class="card">
                <a class="item item-thumbnail-left" href="#/app/near-by-you/1">
                  <img src="https://dummyimage.com/80x80/313138/ffffff">
                  <div class="row">
                      <div class="col-sm-8">
                          <h2>Bharat Petrol Bunk</h2>
                      </div>
                  </div>

                  <div class="row">
                      <div class="col-sm-3">
                          <small>Shop Status</small> <br>
                          <p>Opened</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Timezone</small> <br>
                          <p>24 Hrs</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Near By</small> <br>
                          <p>5 Kms</p>
                      </div>
                  </div>
                </a>
            </div>

            <div class="card">
                <a class="item item-thumbnail-left" href="#">
                  <img src="https://dummyimage.com/80x80/313138/ffffff">
                  <div class="row">
                      <div class="col-sm-8">
                          <h2>Yamaha Service Center</h2>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-3">
                          <small>Shop Status</small> <br>
                          <p>Opened</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Timezone</small> <br>
                          <p>12 Hrs</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Near By</small> <br>
                          <p>7 Kms</p>
                      </div>
                  </div>
                </a>
            </div>

            <div class="card">
                <a class="item item-thumbnail-left" href="#">
                  <img src="https://dummyimage.com/80x80/313138/ffffff">
                  <div class="row">
                      <div class="col-sm-8">
                          <h2>Murugan Puncture</h2>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-3">
                          <small>Shop Status</small> <br>
                          <p>Opened</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Timezone</small> <br>
                          <p>12 Hrs</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Near By</small> <br>
                          <p>10 Kms</p>
                      </div>
                  </div>
                </a>
            </div>

            <div class="card">
                <a class="item item-thumbnail-left" href="#">
                  <img src="https://dummyimage.com/80x80/313138/ffffff">
                  <div class="row">
                      <div class="col-sm-8">
                          <h2>Bharat Petrol Bunk</h2>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-3">
                          <small>Shop Status</small> <br>
                          <p>Opened</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Timezone</small> <br>
                          <p>24 Hrs</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Near By</small> <br>
                          <p>5 Kms</p>
                      </div>
                  </div>
                </a>
            </div>

            <div class="card">
                <a class="item item-thumbnail-left" href="#">
                  <img src="https://dummyimage.com/80x80/313138/ffffff">
                  <div class="row">
                      <div class="col-sm-8">
                          <h2>Yamaha Service Center</h2>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-3">
                          <small>Shop Status</small> <br>
                          <p>Opened</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Timezone</small> <br>
                          <p>12 Hrs</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Near By</small> <br>
                          <p>7 Kms</p>
                      </div>
                  </div>
                </a>
            </div>

            <div class="card">
                <a class="item item-thumbnail-left" href="#">
                  <img src="https://dummyimage.com/80x80/313138/ffffff">
                  <div class="row">
                      <div class="col-sm-8">
                          <h2>Murugan Puncture</h2>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-3">
                          <small>Shop Status</small> <br>
                          <p>Opened</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Timezone</small> <br>
                          <p>12 Hrs</p>
                      </div>
                      <div class="col-sm-3">
                          <small>Near By</small> <br>
                          <p>10 Kms</p>
                      </div>
                  </div>
                </a>
            </div>

        </div>
    </ion-content>
</ion-view>
