<ion-view view-title={{pageTitle}}>
    <ion-content>
        <div class="container" id="profile-container">
          <div class="list">
              <label class="item item-input">
                  <div class="input-label">
                      Name
                  </div>
                  <div>
                      <input type="text" name="" value="Kalaiselvan M">
                  </div>
              </label>
              <br>
              <label class="item item-input">
                  <div class="input-label">
                      Email
                  </div>
                  <div>
                      <input type="text" name="" value="kalaiselvan@chainsys.com">
                  </div>
              </label>
              <br>
              <label class="item item-input">
                  <div class="input-label">
                      Mobile
                  </div>
                  <div>
                      <input type="text" name="" value="9003321521">
                  </div>
              </label>
              <br>
              <button type="button" class="button button-positive button-block">Update</button>
          </div>

        </div>
    </ion-content>
</ion-view>
