<ion-view view-title="Signup">
    <div class="container" id="login-container">
        <div class="list">
            <label class="item item-input">
              <span class="input-label">Name</span>
              <input type="text">
            </label>
            <br>
            <label class="item item-input">
              <span class="input-label">Mobile</span>
              <input type="text">
            </label>
            <br>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text">
            </label>
            <br>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="text">
            </label>
            <button class="button button-block button-positive" type="submit">Sign up</button>
            <p>User exist? <a href="#/app/login">Login</a></p>
        </div>
    </div>
</ion-view>
